.App {
  text-align: center;
  font-family: 'Avenir Roman' !important;
  font-size: 15px !important;
  letter-spacing: 0.1px !important;
  line-height: 19px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  display: block !important;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: 20px !important;
}
